shortner-server/ServiceAccountKey.json
shortner/node_modules
shortner/.pnp
shortner/.pnp.js
shortner/coverage
shortner/build
shortner/.DS_Store
shortner/.env.local

shortner-server/node_modules
shortner-server/.DS_Store
.vscode/settings.json
.DS_Store
shortner-server/venv1
shortner-server/app/__pycache__/main.cpython-311.pyc
shortner/src/firebaseConfig.json
shortner-server/app/__pycache__
shortner-server/app/build